@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
	background-image: url(../img/3.svg);
	background-size: cover;
	background-repeat: no-repeat;
	animation: rotate 6s infinite alternate linear;
	position: relative;
}
.principal{
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://img.freepik.com/premium-vector/abstract-realistic-technology-particle-background_23-2148414765.jpg?w=740") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.registro{
	position: relative;
	width:100%;
	height: 100%;
}
label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px 60px 30px 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
.button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.button:hover{
	background: #6d44b8;
}
.formulario-grupo-input{
	position: relative;
}
.formulario-validacion-estado{
	position: absolute;
	right: 18px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}
.formulario-mensaje{
	height: 45px;
	line-height: 45px;
	background-color: #f66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}
.formulario-mensaje-activo{
	display: block;
}
.btn-logo-volver{
	margin-top: 15px;
	margin-left: 10px;
	position: absolute;
	
}
.icono-volver{
	color: #fff;
}


.formulario-grupo-correcto .formulario-validacion-estado{
	color: #1ed12d;
	opacity: 1;
}
.formulario-grupo-incorrecto .formulario-validacion-estado{
	color: #bb2929;
	opacity: 1;
}
.formulario-grupo-incorrecto .formulario-input{
	border: 1px solid #bb2929;
}

.ingresar{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.ingresar label{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .ingresar{
	transform: translateY(-500px);
}
#chk:checked ~ .ingresar label{
	transform: scale(1);	
}
#chk:checked ~ .registro label{
	transform: scale(.6);
}

@keyframes rotate {
	100% {
		background-position: 15% 50%;
	}
}
